<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnMB"
        tools:targetApi="31">
        <activity
            android:name=".ActivityOptionVocab"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ActivityDanhsach" />
        <activity android:name=".Activity.User.TracNghiem.ActivityTracnghiem" />
        <activity android:name=".Activity.ActivityCongra" />
        <activity android:name=".Activity.User.DienTu.ActivityCheck" />
        <activity android:name=".Activity.User.Vocab.ActivityVocab" />
        <activity android:name=".Activity.User.TracNghiem.ActivityThongBaoTracNghiem" />
        <activity android:name=".Activity.User.TracNghiem.ActivityBeforedoQuestion" />
        <activity android:name=".Activity.User.DienTu.ActivityThongBaoDienTu" />
        <activity android:name=".Activity.User.DienTu.ActivityBeforefillBlanks" />
        <activity android:name=".Activity.User.Vocab.ActivityShowVocab" />
        <activity android:name=".Activity.ActivityFail" />
        <activity android:name=".Activity.User.Vocab.ActivityShowInfoWord" />
        <activity android:name=".Activity.User.Vocab.ActivityOptionVocab"></activity>
        <activity android:name=".Activity.User.Vocab.ActivityVocab"/>
        <activity android:name=".Activity.User.Vocab.ActivityNote"/>
        <activity android:name="com.example.doanmb.Activity.Admin.ActivityLogin" />
        <activity android:name="com.example.doanmb.Activity.Admin.ActivityAdmin" />
        <activity android:name="com.example.doanmb.Activity.Admin.Vocab.ActivityAddEdit" />
        <activity android:name="com.example.doanmb.Activity.Admin.Vocab.ActivityShowListVocab" />
        <activity android:name="com.example.doanmb.Activity.Admin.Vocab.ActivityAddChuDe" />
        <activity android:name="com.example.doanmb.Activity.Admin.TracNghiem.ActivityAddMucDoTracNghiem" />
        <activity android:name="com.example.doanmb.Activity.Admin.TracNghiem.ActivityAddListTN" />
        <activity android:name="com.example.doanmb.Activity.Admin.DienTu.ActivityAddMucDoDienTu" />
        <activity android:name="com.example.doanmb.Activity.Admin.DienTu.ActivityAddListDT" />
        <activity android:name="com.example.doanmb.Activity.Admin.Vocab.LayOutAddChuDe" />
    </application>

</manifest>